body {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  background-color: tomato;
  color: #fff;
  overflow-y: hidden;
}

.nama {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 80px;
  font-family: arial;
}

.nama span {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  display: inline-block;
}

.nama span:hover {
  transform: scale(1.5) translateY(-20px);
  -webkit-transform: scale(1.5) translateY(-20px);
  -moz-transform: scale(1.5) translateY(-20px);
  -ms-transform: scale(1.5) translateY(-20px);
  -o-transform: scale(1.5) translateY(-20px);
}
